<% if (!user) { %>
	<h2>Log in Facebook</h2>
	<a href="/facebook/auth">Log In</a>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
	<a href="/facebook/logout">Log Out</a>
<% } %>

<script>
	window.success = <%= !(typeof user == 'undefined') %>;
	console.log(window.success);
</script>

<script type="text/javascript" src="/scripts/iframe.js"></script>