@import "global";

main{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #dfdfdf;
	padding-top: 75px;
	@include box-sizing(border-box);

	#toolbar{
		position: absolute;
		z-index: 1;
		top: 0;
		width: 100%;
		height: 75px;
		background: #d4d4d4;
	}

	#project-container{
		position: relative;
		z-index: 0;
		width: 100%;
		height: 100%;
		font-size: 0;
		white-space: nowrap;
		overflow: hidden;

		#project-initializer{
			display: none;
			height: 100%;
		}

		#project-workspace{
			height: 100%;
		}

	  #navigation-pane{
			display: inline-block;
			vertical-align: top;
			position: relative;
			z-index: 2;
			height: 100%;
			white-space: normal;
			font-size: 10px;

			&.fold{
				.content-container{
					width: 0;
				}
			}

			.unfold{
				width: 40px;
				height: 100%;
				position: absolute;
				top: 0;
				right: -40px;

				&:before{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 6px;
					height: 100%;
					background-color: #9f9f9f;
				}
			}

			.content-container{
				width: 175px;
				height: 100%;
				background-color: #d0d0d0;
				overflow: hidden;
			}
		}

		#board-pane{
			display: inline-block;
	    vertical-align: top;
			position: relative;
			z-index: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			white-space: normal;
			font-size: 10px;
		}

		#editor-pane{
			display: inline-block;
	    vertical-align: top;
			position: relative;
			z-index: 1;
			height: 100%;
			background-color: #d0d0d0;
			white-space: normal;
			font-size: 10px;

			&.fold{
				.content-container{
					width: 0;
				}
			}

			.unfold{
				width: 40px;
				height: 100%;
				position: absolute;
				top: 0;
				left: -40px;

				&:before{
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					width: 6px;
					height: 100%;
					background-color: #9f9f9f;
				}
			}

			.content-container{
				width: 280px;
				height: 100%;
				background-color: #d0d0d0;
				overflow: hidden;
			}
		}
	}

	#board-container{
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
	}

	#editor-window-container{
		position: absolute;
		width: 0;
		height: 0;
	}
}

.board-view{
	position: relative;
	width: 100%;
	height: 100%;
	@include flexbox((
		display: flex,
		align-items: center,
		justify-content: center
	));
	
	.board{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 100px;
		height: 100px;
		background-color: #fff;
		@include box-shadow(2px 2px 2px rgba(0,0,0,.1));

		>.layer{
			position: absolute;
			width: 100%;
			height: 100%;

			&.selection{
				width: 0;
				height: 0;
			}

			&.grid{
				background-repeat: repeat;
				//pointer-events: none;
			}
		}
	}
}

.editor-window{
	position: absolute;
	min-width: 200px;
	text-align: left;
	@include box-shadow(2px 2px 2px rgba(0,0,0,.1));

	&.hide-property{
		>.property-sheet{
			display: none;
		}
	}

	>.title-bar{
		position: relative;
		width: 100%;
		background: #9d9d9d;
		cursor: move;
		padding: .65em 10px;
		@include box-sizing(border-box);
		@include flexbox((
			display: flex,
			align-items: center,
			justify-content: space-between
		));

		>h6{
			color: #000;
			font-size: 1.4em;
		}

		>.controls{
			>button{
				display: inline-block;
				vertical-align: middle;
				margin: 0 6px;
				font-size: 8px;

				&:last-child{
					margin-right: 0;
				}
			}
		}
	}

	>.property-sheet{
		background: #ededed;
		padding: 1em 0;

		>li{
			width: 100%;
			padding: .4em 10px;
			@include box-sizing(border-box);
			font-size: 1.3em;
			@include flexbox((
				display: flex,
				align-items: center,
				justify-content: space-between
			));

			>input{
				text-indent: .25em;
				width: 4em;
			}
		}
	}
}